$item-title-size: 48px;

$item-width: 320;
$item-margin: 40;

$container-min-height: 164px;
$content-left-padding: 44px;
$content-right-padding: 20px;

$main-background: white;

$border-width: 4px;
$border-radius: $border-width * 3;

$header-corner-width: 46;
$header-corner-height: 46;

$quantity-block-radius: 80px;
